__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
.DS_Store
.idea/
.vscode/
*.log
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep
.python-version
*.docx
/data/input
/data/output
/docs
/scripts/fill_report.py
